<footer class="bg-dark">
    <div class="container">
            
        <br>
        <p class="text-center text-light">
             Developed by Francisco Feijoo - 2023 - 
            <a
              href="https://www.linkedin.com/in/franciscofeijoo/"
              rel="noreferrer"
              target="_blank"
              class="text-warning"
            ><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i>
            </a>            
              <a
                href="https://github.com/f-feijoo"
                rel="noreferrer"
                target="_blank"
                class="text-warning"
              ><i class="fa-brands fa-github" style="color: #ffffff;"></i>
              </a>            
            </p>
<br>
    </div>
</footer>